<script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js" defer="defer"></script>
<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js" defer="defer"></script>

<section class="top">
    <h1 class="top__ttl">
        <img src="{{ 'tsumugi.svg' | file_url }}" alt="TSUMUGI" width="auto" height="auto" loading="lazy"> 

    </h1>
    <p class="top__txt">
        付加価値が人を紡ぐ
        思い、幸せ、人生、命<br>
        形に見えないものを一つに
    </p>
</section>


<section id="aboutus" class="aboutus">
    <div class="aboutus__inner">
        <div class="aboutus__txt--wrapper">
            <h3 class="contents__subttl">私たちについて</h3>
            <h2 class="contents__ttl">人と自然に寄り添う<br>レッグウェアブランド</h2>
            <p class="contents__txt">奈良県大和高田市で創業70年<br>
                老舗パンティストッキング専業メーカーが<br>
                長く渡り培われた技術力<br>
                機械的に糸を紡ぐだけではない<br>
                「想い」と「愛」で紡がれ誕生したブランドです</p>
        </div>
        <figure class="aboutus__img">
            <img src="{{ 'subimg.png' | file_url }}" alt="商品写真" width="auto" height="auto" loading="lazy" width="auto" height="auto" loading="lazy">
        </figure>
    </div>
</section>


<section id="items" class="items"> 
    <div class="contents__inner">
    <h3 class="contents__subttl">製品</h3>
    <p class="contents__txt">虫除け、冷却効果を施し、紫外線99％以上カットしたこだわりのレギンスです。<br>
        着圧タイプ、男性用もございます</p>
        
    <ul class="items__img">
        <li>
            <img src="{{ 'icon_items01.svg' | file_url }}" alt="UVCUT" width="auto" height="auto" loading="lazy">
            <p class="items__img--txt">UVCUT</p>
        </li>
        <li>
            <img src="{{ 'icon_items02.svg' | file_url }}" alt="虫除け" width="auto" height="auto" loading="lazy">
            <p class="items__img--txt">虫除け</p>
        </li>
        <li>
            <img src="{{ 'icon_items03.svg' | file_url }}" alt="接触冷感" width="auto" height="auto" loading="lazy">
            <p class="items__img--txt">接触冷感</p>
        </li>
        <li>
            <img src="{{ 'icon_items04.svg' | file_url }}" alt="着圧" width="auto" height="auto" loading="lazy">
            <p class="items__img--txt">着圧</p>
        </li>
    </ul>

    <h2 class="items__productttl"><span>商品一覧</span></h2>
    <ul class="items__product">
        <li>
            <a href="{{ routes.root_url }}products/着圧虫除けキシリトールレギンス">
                <img src="{{ 'img_items01b.png' | file_url }}" alt="着圧・虫除け冷却レギンス（女性用）" width="auto" height="auto" loading="lazy">
                <p class="items__name">着圧・虫除け冷却レギンス（女性用）</p>
            </a>
        </li>
        <li>
            <a href="{{ routes.root_url }}products/虫除け冷却レギンス">
                <img src="{{ 'img_items02.png' | file_url }}" alt="虫除け冷却レギンス（女性用）" width="auto" height="auto" loading="lazy">
                <p class="items__name">虫除け冷却レギンス（女性用）</p>
            </a>
        </li>
        <li>
            <a href="{{ routes.root_url }}products/虫除け冷却レギンス-1">
                <img src="{{ 'img_items03.png' | file_url }}" alt="虫除け冷却レギンス（男性用）" width="auto" height="auto" loading="lazy">
                <p class="items__name">虫除け冷却レギンス（男性用）</p>
            </a>
        </li>
    </ul>

    </div>
</section>

<section class="commit">
    <div class="contents__inner">
        <h3 class="contents__subttl">こだわり</h3>
        <h2 class="contents__ttl">創業70年の技術力と想い</h2>
        <figure class="commit__img">
            <img src="{{ 'img.png' | file_url }}" alt="こだわり" width="auto" height="auto" loading="lazy">
        </figure>
        <p class="contents__txt">創業70年。福西メリヤス株式会社<br>
            <br>
            戦後まもなく靴下製造業として<br>
            奈良県大和高田市に創業。<br>
            <br>
            奈良県は江戸時代より「大和木綿」の<br>
            木綿栽培が始まり原料を加工する、<br>
            織、縫、編、染など<br>
            周辺技術の産業が盛んになっていきました。<br>
            <br>
            明治の産業革命時の機械化により産業が発達し、<br>
            現在でも奈良県は、<br>
            日本一の靴下生産量を誇っています。<br>
            <br>
            その中でも、現在、国内でも数少ない<br>
            「パンティストッキング専業メーカー」として、<br>
            半世紀以上に渡り製造を続け高い技術力と想いで<br>「レッグウェアのモノづくり」を 追求してきました</p>
    </div>

</section>


<section id="asian" class="asian">
    <h2 class="contents__ttl">人の肌にあった<br>虫除けレギンスを届けたい</h2>
    <div class="asian__inner">
        <figure class="asian__img">
            <img src="{{ 'img_asian.png' | file_url }}" alt="人の肌にあった虫除けレギンスを届けたい" width="auto" height="auto" loading="lazy">
        </figure>
        <div class="asian__txts">
            <p class="asian__txts--p">
                「デング熱が流行し、東南アジア諸国で蚊に刺さることが原因で多くの方が命を落としてしまっている。日常生活の中で、蚊に刺されることを防ぐのは難しい。」というニュースを目にしました。<br><br>
                自信を持って製造してきたストッキングやタイツで虫刺されを防止予防することができれば、必ず役に立てると考え、人の肌に優しく、ストッキングやタイツに適切な虫よけに効果的な材料を探し求め「ピぺリジン」という成分を活用した忌避材料にたどり着きました。技術力と想いが繋がっていったことで、出会えた成分でした。<br><br>
                糸に成分を特殊加工し、細やかな編み組織により不快害虫などの虫を防ぎます。人と想いを紡いでいく「虫よけレギンス」が完成しました。</p>
        </div>
    </div>
</section>


<section id="piper" class="explain bg">
    <h2 class="contents__ttl">忌避剤「ピぺリジン」を糸に加工</h2>
    <div class="explain__inner">
        <figure class="explain__img">
            <img src="{{ 'img_explain01b.png' | file_url }}" alt="忌避剤「ピぺリジン」を糸に加工" width="auto" height="auto" loading="lazy">
        </figure>
        <div class="explain__txts">
            <p class="explain__txts--p">
                ピぺリジンとは<br><br>
                虫よけ剤として広く使われている化合物「ディート」よりも3倍以上効果が長持ちし、防虫効果のある成分では安全性が高いと言われています。<br><br>
                不快害虫に対して忌避効力を持ち、「ピペリジン」系化合物は認知能力を混乱させる効力が強いため、害虫が肌に止まりにくくなります。<br><br>
                マイクロカプセル製剤なので、洗濯にも強く、効果が長持ちします。</p>
        </div>
    </div>
</section>


<section class="explain">
    <h2 class="contents__ttl">高い技術力と国産糸</h2>
    <div class="explain__inner">
        <figure class="explain__img">
            <img src="{{ 'img_explain03.png' | file_url }}" alt="高い技術力と国産糸" width="auto" height="auto" loading="lazy">
        </figure>
        <div class="explain__txts">
            <p class="explain__txts--p">
                ふんわりとした柔らかい肌ざわりを追求、長年培ってきた技術力を活かし、通常の商品よりも多い、約350本（通常200～250本）もの針数を使用。<br><br>
                質の高い国産糸をきめ細かく編み上げています。<br><br>
                糸が多いことで、肌ざわりの良い糸がより肌に密着し、着心地がよくなります。また、編み目が細かくなることで、虫除け効果を高めます。<br><br>
                更に今回60デニールを採用したことにより、各種効果効能が上がり、暑い夏でもベタつかずひんやりとした履き心地です。</p>
        </div>
    </div>
</section>


<section class="explain bg">
    <h2 class="contents__ttl">冷却加工/キシリトール成分配合</h2>
    <div class="explain__inner">
        <figure class="explain__img">
            <img src="{{ 'img_explain02b.png' | file_url }}" alt="冷却加工/キシリトール成分配合" width="auto" height="auto" loading="lazy">
        </figure>
        <div class="explain__txts">
            <p class="explain__txts--p">
                熱がこもりにくい「羊雲型糸」を採用<br><br>
                糸1本1本に数ミクロンレベルで微細な凹凸を施した「扁平八葉断面（羊雲型糸）」により従来の糸に比べて抜群の吸水性と速乾性(吸水性は通常糸比2倍強)が期待されます。<br><br>
                また、肌との接触面積が大きい分、触った瞬間にひんやりとする接触冷感が効果も実現。<br><br>
                キシリトール成分を糸にコーティング速乾効果と接触冷感が期待されます。</p>
        </div>
    </div>
</section>


<section class="uvcut"> 
    <h2 class="contents__ttl">99%以上 UVカット</h2>
    <p class="contents__txt">ミラーコーティングを糸に施し、紫外線を反射。<br>
        編み目が細かいことで、紫外線を通しにくい構造になり強い日差しからも肌を守ります。</p>
    <div class="contents__inner">
        <div class="mainslink__slick--wrapper">

            <ul class="mainslink__slicktop">
                <li>
                    <a href="{{ routes.root_url }}products/着圧虫除けキシリトールレギンス">
                        <img src="{{ 'img_items01b.png' | file_url }}" alt="着圧・虫除け冷却レギンス（女性用）" width="auto" height="auto" loading="lazy">
                        <p class="items__name">着圧・虫除け冷却レギンス（女性用）</p>
                    </a>
                </li>
                <li>
                    <a href="{{ routes.root_url }}products/虫除け冷却レギンス">
                        <img src="{{ 'img_items02.png' | file_url }}" alt="虫除け冷却レギンス（女性用）" width="auto" height="auto" loading="lazy">
                        <p class="items__name">虫除け冷却レギンス（女性用）</p>
                    </a>
                </li>
                <li>
                    <a href="{{ routes.root_url }}products/虫除け冷却レギンス-1">
                        <img src="{{ 'img_items03.png' | file_url }}" alt="虫除け冷却レギンス（男性用）" width="auto" height="auto" loading="lazy">
                        <p class="items__name">虫除け冷却レギンス（男性用）</p>
                    </a>
                </li>
            </ul>
        </div>

        </div>
</section>

<link rel="stylesheet" type="text/css" href="{{ 'slick.css' | asset_url }}"/>
<link rel="stylesheet" type="text/css" href="{{ 'slick-theme.css' | asset_url }}"/>

<script src="{{ 'slick.min.js' | asset_url }}" defer="defer"></script>  
<script src="{{ 'tsumugiproduct.js' | asset_url }}" defer="defer"></script> 